* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-image: url("/multimedia/fondo2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

main {
    min-height: 82vh;
}

/* header */

.header {
    grid-area: header;
    padding: 0px 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #beb9bf;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
}

.header a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.header li a:hover {
    color: #6c6368;
    transform: scale(1.2);
}

/* pagina inicio */


.titulo-i {
    padding: 5px;
    font-size: 25px;
    color: #6c6368;
}

.subtitulo-i {
    color: #a19599;
    font-size: 30px;
    padding: 5px;
}

.parrafo-i {
    padding: 5px;
    color: #6c6368;
    font-size: 25px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-i {
    height: 400px;
    padding-top: 15%;
    width: 100%;
    max-width: 400px;
}

.botones-i button {
    margin-right: 20px;
    width: 130px;
    height: 42px;
}

.down-cv {
    background-color: white;
    color: #6c6368;
    border: 2px solid #6c6368;
}

.sobre-mi {
    background-color: #beb9bf;
    color: white;
    border: 2px solid #6c6368;
}

button:hover {
    transform: scale(1.1);
}



/* sobre mi */
.img-s {
    width: 200px;
    height: 250px;
}

.card-s {
    padding: 20px;
    background: #dedcdf;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.texto-s {
    color: #6c6368;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

.titulo-s {
    display: flex;
    justify-content: center;
    color: #6c6368;
}

/* proyectos */

.container-p {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 6px;
    grid-template-areas:
        "header"
        "proyectos"
        "footer";
}

.proyectos {
    grid-area: proyectos;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.proyectos-row {
    display: flex;
}

.proyectos-row-box {
    margin: 20px;
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.proyectos-row-box:hover {
    transform: scale(1.1);
}

.proyectos-row-box h5 {
    text-align: center;
    padding: 20px;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    color: #6c6368;
}

.proyectos-row-box img {
    width: 250px;
    height: 200px;
}

.boton-h {
    color: #ffffff;
}


/* habilidades */

.prog1 {
    background-color: #6c6368;
}

.prog2 {
    background-color: #a19599;
}

.prog3 {
    background-color: #6c6368;
}

.habiliadades {
    font-family: 'Raleway', sans-serif;
    color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    background-color: #d5d0d6;
    text-align: left;
    border-collapse: collapse;
}

.table {
    font-family: 'Raleway', sans-serif;
    color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.boton-h {
    background-color: #6c6368;
}


/* contacto */

.container-c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.main-c {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
        "contacto1 contacto2";
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contacto1 {
    grid-area: contacto1;
}


.form {
    width: 22rem;
    height: 410px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    padding: 20px 30px;
    box-sizing: border-box;
}

.form div {
    padding: 8px;
}

.form h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    color: #a19599;
}

.form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid #6c6368;
    font-size: 12px;
}

.form label {
    font-family: 'Raleway', sans-serif;
    color: #6c6368;
    font-size: 12px;
}

.form textarea {
    height: 70px;
    padding: 5px;
}

.form button {
    padding: 8px 12px;
    font-family: 'Raleway', sans-serif;
    color: #6c6368;
    border: 2px solid #a19599;
    background-color: #ffffff;
}

.contacto2 {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    border: none;
    width: 22rem;
}

.img-c {
    padding: 20px;
    height: 300px;
    width: 100%;
    max-width: 400px;
}

.iconos-flex {
    display: flex;
    align-items: center;
}

.iconos img {
    height: 22px;
    padding: 2px;
    display: block;
}

.iconos img:hover {
    transform: scale(1.1);
}

.texto-iconos p {
    font-size: 12px;
    margin: 6px;
    color: #6c6368;
}

.texto-iconos a {
    text-decoration: none;
}

footer {
    grid-area: footer;
    background-color: #beb9bf;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

footer h6 {
    font-size: 13px;
}

/* media queries */


/* footer */



@media screen and (max-width: 320px){

    /* inicio */
    .container-i {
        margin-top: 0;
        padding: 0;
    }

    .img-i {
        height: 200px;
        padding-top: 15%;
    }

    .botones-i button {
        width: 90px;
        height: 50px;
        font-size: 12px;
    }

    .titulo-i {
        padding: 5px;
        font-size: 20px;
        color: #6c6368;
    }

    .subtitulo-i {
        color: #a19599;
        font-size: 25px;
        padding: 5px;
    }

    .parrafo-i {
        padding: 5px;
        color: #6c6368;
        font-size: 20px;
    }

    /* sobre mi */
    .img-s {
        width: 150px;
        height: 200px;
    }

    .texto-s {
        font-size: 13px;
    }

    .titulo-s {
        font-size: 18px;
    }

    /* proyectos */

    .container-p {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "header"
            "proyectos"
            "footer";
    }

    .proyectos-row {
        display: flex;
        flex-direction: column;
    }

    /* habilidades */
    .container-h {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        gap: 10px;
        grid-template-areas:
            "header"
            "habilidades"
            "footer";
        display: flex;
        flex-direction: column;
    }

    /* contacto */
    .container-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .main-c {
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas:
            "contacto1"
            "contacto2";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .form {
        width: 16rem;
        height: 350px;
    }

    .form div {
        padding: 5px;
    }

    .form h2 {
        font-size: 15px;
        padding-bottom: 5px;
        color: #a19599;
    }

    .form input {
        font-size: 12px;
    }

    .form label {
        font-size: 12px;
    }

    .form textarea {
        height: 40px;
        width: 150px;
        padding: 5px;
    }

    .form button {
        width: 60px;
        height: 40px;
        font-size: 12px;
    }

    .contacto2 {
        background-color: white;
        border-radius: 8px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        font-family: 'Raleway', sans-serif;
        border: none;
        width: 16rem;
        height: 350px;
    }

    .img-c {
        padding: 20px;
        height: 250px;
        width: 100%;
        max-width: 400px;
    }

    .iconos img {
        height: 22px;
        padding: 2px;
        display: block;
    }

    .texto-iconos p {
        font-size: 10px;
        margin: 4px;
        color: #6c6368;
    }

}
@media screen and (max-width: 500px){

    /* proyectos */

    .container-p {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "header"
            "proyectos"
            "footer";
    }

    .proyectos-row {
        display: flex;
        flex-direction: column;
    }


    /* contacto */
    .container-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .main-c {
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas:
            "contacto1"
            "contacto2";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}


@media screen and (max-width: 750px){

    /* proyectos */

    .container-p {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "proyectos"
            "footer";
    }

    /* contacto */
    .container-c {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .main-c {
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas:
            "contacto1"
            "contacto2";
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

